:root {
    --c_primary:#ffb400;
    --c_secondary: #ffffff;
};
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
// $primary : #ffb400;
$primary : var(--c_primary);
$secondary:#72b626;
$teritery:#4169e1;
$forth:#111111;
$fifth:#2b2a2a;
$six:#030303;
$seventh:#939292;
$eighth:#b9b9b9;
$ninth:rgba(255,255,255,0.8);
$primary_font:"Poppins",sans-serif;
$secondary_font:'Open Sans', sans-serif;
