@import "../comon/variables";
.home-wrapper{
 height: 100vh;
    .main-developer-img-wrapper{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: calc(100vh - 80px);
        z-index: 11;
        border-radius: 30px;
        left: 40px;
        top: 40px;
        box-shadow: 0 0 7px rgb(0 0 0 / 90%);
        background-color: $six;
        width: 100%;
    }
    .detail-wrapper{
        max-width: 600px;
        margin: 0 auto;
        .main-title-wrapper{
            padding-left:50px ;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 29px;
                height: 4px;
                width: 40px;
                border-radius: 10px;
                background-color: $primary;
            }
        }
    }
}

