
@import '../comon/variables';

html{
    font-size: 16px;
    @media screen and (min-width: 900px) {
        font-size: 18px;
    }    
    @media screen and (min-width: 1200px) {
        font-size: 20px;
    }
}
body { background-color: $forth; color: #ffffff;}


h1,.h1{
 font-size: 3rem;
 line-height: 3.5rem;   
}
h2,.h2{
    font-size:2rem ;
    line-height: 2.3rem;
}
h3,.h3{
    font-size:1.625rem ;
    line-height: 1.8rem;
}
h4,.h4{
    font-size:1.375rem ;
    line-height: 1.6rem;
}
h5,.h5{
    font-size:1.125rem ;
    line-height: 1.4rem;
}
h6,.h6{
    font-size:1rem ;
    line-height: 1.2rem;
}
p,body{
    font-size: 0.875rem;
    line-height: 1.5rem;
}


.primary-font{
    font-family: $primary_font;
}
.secondary-font{
 font-family: $secondary_font;   
}

// Theme colors classes 
.c-tx-primary{
    color: $primary;
}
.c-tx-secondary{
    color: $secondary;
}
.c-tx-teritery{
    color: $teritery;
}
.c-tx-forth{
    color: $forth;
}
.c-tx-fifth{
    color: $fifth;
}
.c-tx-sixth{
    color: $six;
}
.c-tx-seventh{
    color: $seventh;
}
.c-tx-eighth{
    color: $eighth;
}
.c-tx-ninth{
    color: $ninth;
}
// Theme colors classes 
.c-bg-primary{
    background-color: $primary;
}
.c-bg-secondary{
    background-color: $secondary;
}
.c-bg-teritery{
    background-color: $teritery;
}
.c-bg-forth{
    background-color: $forth;
}
.c-bg-fifth{
    background-color: $fifth;
}
.c-bg-sixth{
    background-color: $six;
}
.c-bg-seventh{
    background-color: $seventh;
}

.c-bg-eighth{
    background-color: $eighth;
}


// theme font weight classes
.f-100{
    font-weight: 100;
}
.f-300{
    font-weight: 300;
}
.f-400{
    font-weight: 400;
}.f-500{
    font-weight: 500;
}.f-600{
    font-weight: 600;
}.f-700{
    font-weight: 700;
}.f-900{
    font-weight: 900;
}
// btn css started
.custom-btn-primary{
    background-color: transparent;
    border-radius: 50px;
    height: 60px;
    font-size: 18px;
    line-height: 18px;
    padding: 0;
    display: flex;
    align-items: center;
    border-color: $primary;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-weight: 600;
    .text-bl{
        padding: 0 25px;
    }
    .icon-bl{
        background-color: $primary;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    &:hover{
        background-color: transparent;
        border-color: $primary;
        &::before{
            transform: translateX(0%);
            transition: all .3s ease-out;
        }
    }
    &::before{
        background-color: $primary;
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .3s ease-out;
    }
}

/*color block*/
.color-block {
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
    background-color: $primary;
    z-index: -1;
}
.title-section{
    padding: 80px 0;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    .title-bg{
        font-size: 110px;
        left: 0;
        letter-spacing: 10px;
        line-height: .7;
        position: absolute;
        right: 0;
        top: 48%;
        text-transform: uppercase;
        font-weight: 800;
        transform: translateY(-50%);
        color: #ffffff;
        opacity: 0.07;
    }
}